### Train Data

In [2]:
import pandas as pd

In [3]:
train_df = pd.read_csv("inputs/train.csv")
train_df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   0.30  Very Good     F     VS2   62.8   56.0  4.29  4.31  2.70    605
1   1   0.34      Ideal     E     SI1   62.6   55.0  4.46  4.49  2.80    565
2   2   0.40  Very Good     D     SI1   60.3   62.0  4.70  4.75  2.85    720
3   3   0.40    Premium     H     VS1   61.8   59.2  4.72  4.74  2.92    793
4   4   0.90  Very Good     D     SI1   61.0   63.0  6.10  6.13  3.73   4381

In [12]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
train_df["numeric"] = le.fit_transform(train_df["cut"])
train_df["numeric"] = le.fit_transform(train_df["color"])
train_df["numeric"] = le.fit_transform(train_df["clarity"])
train_df.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price,numeric
0,0,0.30,Very Good,F,VS2,62.8,56.0,4.29,4.31,2.70,605,5
1,1,0.34,Ideal,E,SI1,62.6,55.0,4.46,4.49,2.80,565,2
2,2,0.40,Very Good,D,SI1,60.3,62.0,4.70,4.75,2.85,720,2
3,3,0.40,Premium,H,VS1,61.8,59.2,4.72,4.74,2.92,793,4
4,4,0.90,Very Good,D,SI1,61.0,63.0,6.10,6.13,3.73,4381,2

In [ ]:
columnas = [a for a in train_df.columns if a not in ["10","numeric"]]
X = train_df[columnas]
y = train_df["numeric"]

### Predict Data

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
train_dataset["numeric"] = le.fit_transform(train_dataset["10"])

In [ ]:
columnas = [a for a in train_dataset.columns if a not in ["10","numeric"]]
X = train_dataset[columnas]
y = train_dataset["numeric"]