# Random Forest Model

### * Model forest_500 * ---> (RMSE=561.1321)

#### Load the data

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [28]:
cleantrain_df = pd.read_csv("../inputs/cleantrain.csv", index_col = 0)
cleantrain_df.head()

    carat  cut  color  clarity  depth  table     x     y     z  price
id
0    0.30    0      0        3   62.8   56.0  4.29  4.31  2.70    605
1    0.34    1      1        2   62.6   55.0  4.46  4.49  2.80    565
2    0.40    0      2        2   60.3   62.0  4.70  4.75  2.85    720
3    0.40    2      3        4   61.8   59.2  4.72  4.74  2.92    793
4    0.90    0      2        2   61.0   63.0  6.10  6.13  3.73   4381

In [29]:
X = cleantrain_df.drop(columns=["price"])
y = cleantrain_df.price

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32364, 9) (8091, 9) (32364,) (8091,)

#### Apply the model

In [31]:
model = RandomForestRegressor(n_estimators=500)
fitted_model = model.fit(X, y)

In [32]:
y_pred = fitted_model.predict(X_test)

In [33]:
y_test_pred_forest = fitted_model.predict(X_test)

In [34]:
forest_fit_all = fitted_model.fit(X, y)
y_pred_forest_all = forest_fit_all.predict(X_test)

## Predict price with model

In [39]:
cleanpredict_df = pd.read_csv("../inputs/cleanpredict.csv", index_col = 0)

In [40]:
cleanpredict_df

       carat  cut  color  clarity  depth  table     x     y     z
id
0       2.36    0      0        3   60.8   54.0  8.68  8.57  5.24
1       2.04    1      1        2   62.0   56.0  8.18  8.23  5.09
2       0.51    0      2        2   61.7   54.0  5.18  5.19  3.20
3       0.30    2      3        4   61.3   56.0  4.32  4.33  2.65
4       0.96    0      2        2   68.8   56.0  6.11  5.98  4.16
...      ...  ...    ...      ...    ...    ...   ...   ...   ...
13480   0.53    1      6        5   60.8   59.0  5.23  5.17  3.16
13481   1.01    2      4        3   62.8   60.0  6.32  6.38  3.99
13482   0.92    2      3        3   60.7   58.0  6.29  6.26  3.81
13483   0.39    2      4        3   62.0   54.0  4.70  4.72  2.92
13484   0.62    4      6        4   62.2   54.0  5.46  5.51  3.41

[13485 rows x 9 columns]

In [53]:
y_final_pred_forest = forest_fit_all.predict(cleanpredict_df)
y_final_pred_forest.shape

(13485,)

#### Change format to upload to Kaggle Competition

In [55]:
upload_df = pd.DataFrame({
    'price' : y_final_pred_forest
})
upload_df.index.rename("id",inplace = True)
upload_df.head()

        price
id
0   16548.964
1   17821.262
2    1521.908
3     582.704
4    3936.850

In [56]:
upload_df.shape

(13485, 1)

In [58]:
upload_df.to_csv("./Output/predictions_randomforest_regression_prueba2.csv", header=True)